<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VueJS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">      
    </head>
<body>	
    <!--<div class="container" id="app">
        <h3 class="text-center">Cryptocurrency Pricing</h3>
        <div class="columns medium-4" v-for="(result, index) in results">
            <div class="card">
                <div class="card-section">
                    <p> {{ index }} </p>
                    </div>
                    <div class="card-divider">
                    <p>{{ result.id }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
<div class="container" id="res">
    <h3 class="text-center">Cryptocurrency Pricing</h3>
    <section v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
    <section v-else>
        <div v-if="loading">Loading...</div>
        <div v-else class="row">
            <div class="col-sm-3">
                <h3 class="text-center">Фильтр</h3>
                <button v-if="pageNumber > 1" @click="prevPage()">
                        Previous
                </button>
                <p>Страница: {{pageNumber}}</p>
                <button v-if="getNextURLEmpty" @click="nextPage()">
                    Next
                </button>
            </div>
            <div class="col-sm-9">
                <div class="card-group">
                    <div class="col-sm-4" v-for="res in results">
                        <div class="card" style="width: 18rem;height: 16rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{res.title}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{res.location}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">{{res.type}}</h6>
                                <p class="card-text">{{res.company}}</p> 
                                <p class="card-text"><small class="text-muted">{{res.created_at | setDate}}</small></p>                     
                            </div>
                        </div>
                    </div> 
                </div>       
            </div>
        </div>
    </section>
 
</div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vue.js"></script>
</body>
</html>